<h1>Step 3: Summary</h1>
<h2>Your Tesla {{settings.model?.description}}</h2>
<div class="grid">
  <ng-container *ngIf="settings.config as config">
    <div>
      <b>{{config.description}}</b>
      <div>{{config | carConfigSpec}}</div>
    </div>
    <span>{{settings.config?.price | currency: 'USD'}}</span>
  </ng-container>
  <ng-container *ngIf="settings.color as color">
    <b>{{color.description}} Color</b>
    <span>{{color.price | currency: 'USD'}}</span>
  </ng-container>
  <ng-container *ngIf="settings.towHitchChosen">
    <b>Tow Hitch Package</b>
    <span>{{optionCost | currency: 'USD'}}</span>
  </ng-container>
  <ng-container *ngIf="settings.yokeChosen">
    <b>Yoke Steering Wheel</b>
    <span>{{optionCost | currency: 'USD'}}</span>
  </ng-container>
</div>
<hr/>
<div class="grid">
  <b>TOTAL COST</b>
  <span>{{totalCost | currency: 'USD'}}</span>
</div>
<hr/>
