<h1>Step 1: Choose your Model and color</h1>
<label for="modelSelect">Model: </label>
<select id="modelSelect" [(ngModel)]="settings.model">
  <option [ngValue]="undefined">Choose...</option>
  <option *ngFor="let carModel of carModels$ | async" [ngValue]="carModel">{{carModel.description}}</option>
</select>
<ng-container *ngIf="settings.model">
  <label for="colorSelect">Color: </label>
  <select id="colorSelect" [(ngModel)]="settings.color">
    <option *ngFor="let carColor of settings.model?.colors" [ngValue]="carColor">{{carColor.description}}</option>
  </select>
</ng-container>
